@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  --main-background: #000;
  --main-color: #fff;
}

.my-photo {
  background-image: url("./assets/images/my_photo.webp");
}

.work,
.about,
.projects,
.skills,
.contact {
  scroll-margin-top: 5rem;
}
